extends ../layouts/common.pug
block content
  .head.d-flex.bg-secondary.p-3
    .col-sm-6
      h3 Manage Equipments
    .col-sm-6
      a.btn.btn-success(href='#addEmployeeModal', data-toggle='modal')
        i.material-icons &#xE147;
        span Add New Employee
      a.btn.btn-danger(href='#deleteEmployeeModal', data-toggle='modal')
        i.material-icons &#xE15C;
        span Delete
  table.table.table-hover
    thead
      tr
        th(scope='col')
          div
            input(type="checkbox", class="form-check-input", id="exampleCheck1")
        th(scope='col') Name
        th(scope='col') Status
        th(scope='col') Description
        th(scope='col') Type
        th(scope='col') Actions
    tbody
      each equipment, index in equipments
        tr
          th(scope='row')
            div(class="custom-control custom-checkbox")
              input(type="checkbox", class="form-check-input", id="exampleCheck1")
          td= equipment.name
          td= equipment.description
          td= equipment.status
          td= equipment.type

