extends ../layouts/common
block content
  .row.justify-content-center
    .col-md-8
      // form user info
      .card.card-outline-secondary
        .card-header
          h3.mb-0 Manage Equipment
        .card-body
          form(action="/equipments/create", method="POST")
            .form-group.row
              label.col-lg-3.col-form-label.form-control-label Name
              .col-lg-9
                input.form-control(type='text', name="name", placeholder='Input name')
            .form-group.row
              label.col-lg-3.col-form-label.form-control-label Status
              .col-lg-9
                .custom-control.custom-radio
                  input#customRadio1.custom-control-input(type='radio', name='status', value="0", checked)
                  label.custom-control-label(for='customRadio1') Empty
                .custom-control.custom-radio
                  input#customRadio2.custom-control-input(type='radio', name='status', value="1", disabled)
                  label.custom-control-label(for='customRadio2') Used
            .form-group.row
              label.col-lg-3.col-form-label.form-control-label(for='exampleFormControlTextarea1') Description
              .col-lg-9
                textarea#exampleFormControlTextarea1.form-control(name='description', rows='3')
            .form-group.row
              label.col-lg-3.col-form-label.form-control-label Type
              .col-lg-9
                select.custom-select.custom-select-md.form-control(name='type')
                  option(selected='', disabled) Open this select menu
                  option(value='pc') PC
                  option(value='laptop') Laptop
            .form-group.row.mt-5
              label.col-lg-3.col-form-label.form-control-label
              .col-lg-9.d-flex.justify-content-center.pl-5
                input.btn.btn-secondary.mx-2(type='reset', value='Cancel')
                input.btn.btn-primary.mx-2(type='submit', value='Save Equipment')
      // /form user inf
